body {
  font-family: "Playfair Display SC", serif;
  font-size: 18px;
  background: linear-gradient(90deg, #2b1750 0%, rgb(49, 22, 230) 100%);
}

.imgbanner {
  height: 200px;
}

.header {
  margin-top: 50px;
}

.imgface {
  position: absolute;
  border-radius: 50%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  top: 50px;
  left: calc(50% - 100px);
}

.contacts {
  list-style-type: none;
  display: inline;
}

.projects {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-left: 2px;
  padding-top: 5px;
  font-size: large;
}

.ctc {
  width: 70%;
  margin: auto;
}

.folioimage {
  width: 90%;
  border: 1px solid black;
  box-shadow: 2px 4px black;
  margin: 6px;
}

.btnpanel {
  border: 1px solid black;
  box-shadow: 2px 4px black;
  margin-top: 200px;
  margin-bottom: 200px;
  height: 80px;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.sample {
  max-width: 535px;
  min-width: 280px;
  margin: 10px 10px 10px 10px;
}

.socpanel {
  width: 160px;
  margin: 0 auto;
  display: block;
}

.socbtn {
  border-radius: 50%;
  width: 100px;
  margin: 2px;
  margin-bottom: 5px;
  margin: 0 auto;
  display: block;
}

.card {
  /* max-width: 500px; */
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.centre {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.cv {
  font-family: "Cinzel", serif;
  font-size: xx-large;
}

.link {
  color: black;
}

.ctc {
  width: 70%;
  margin: auto;
}

.logo-col {
  min-width: 20%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btnpanel {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
}

html {
  scroll-behavior: smooth;
}
